In [2]:
import os
from linguify_yb.src.dataset.frames_config import FEATURE_COLUMNS, RHAND_IDX, LHAND_IDX

ModuleNotFoundError: No module named 'linguify_yb'

In [2]:
os.chdir('..')

In [3]:
train_metadata_df = pd.read_csv('data/raw/train.csv')
train_metadata_df.head()

,path,file_id,sequence_id,participant_id,phrase
0,train_landmarks/5414471.parquet,5414471,1816796431,217,3 creekhouse
1,train_landmarks/5414471.parquet,5414471,1816825349,107,scales/kuhaylah
2,train_landmarks/5414471.parquet,5414471,1816909464,1,1383 william lanier
3,train_landmarks/5414471.parquet,5414471,1816967051,63,988 franklin lane
4,train_landmarks/5414471.parquet,5414471,1817123330,89,6920 northeast 661st road

In [4]:
train_metadata_df.shape

(67208, 5)

In [10]:
train_metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67208 entries, 0 to 67207
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   path            67208 non-null  object
 1   file_id         67208 non-null  int64
 2   sequence_id     67208 non-null  int64
 3   participant_id  67208 non-null  int64
 4   phrase          67208 non-null  object
dtypes: int64(3), object(2)
memory usage: 2.6+ MB

In [13]:
train_metadata_df.isnull().sum()

path              0
file_id           0
sequence_id       0
participant_id    0
phrase            0
dtype: int64

In [14]:
train_metadata_df['phrase'][:10]

0                 3 creekhouse
1              scales/kuhaylah
2          1383 william lanier
3            988 franklin lane
4    6920 northeast 661st road
5              www.freem.ne.jp
6       https://jsi.is/hukuoka
7         239613 stolze street
8                 242-197-6202
9    271097 bayshore boulevard
Name: phrase, dtype: object

In [16]:
train_metadata_df['phrase'][100:110]

100             4874 sairley
101             752-573-2075
102              toby larson
103           +878-34-43-656
104             +49-81-95228
105           3830 pn 3906th
106    +31-103-4764-61-76950
107          www.lemon.co.jp
108         7575 onawa drive
109             841-199-8196
Name: phrase, dtype: object

In [5]:
landmarks_one = pd.read_parquet('data/raw/train_landmarks/1019715464.parquet')
landmarks_one.head()

,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,x_face_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1975433633,0,0.578892,0.578482,0.582906,0.572686,0.579030,0.582115,0.591430,0.498995,0.595773,...,-0.253687,-0.291687,-0.123892,-0.195255,-0.249135,-0.284375,-0.125050,-0.187797,-0.224827,-0.249662
1975433633,1,0.577563,0.578528,0.582916,0.572760,0.579090,0.582197,0.591687,0.497613,0.596104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975433633,2,0.576181,0.576949,0.581346,0.572293,0.577725,0.581191,0.591550,0.497113,0.596477,...,-0.233556,-0.267114,-0.116145,-0.179053,-0.223861,-0.253004,-0.122090,-0.173169,-0.200727,-0.219106
1975433633,3,0.575575,0.577569,0.581769,0.572443,0.578289,0.581652,0.591728,0.496759,0.596573,...,-0.190909,-0.218471,-0.093956,-0.149982,-0.188452,-0.211573,-0.102759,-0.147642,-0.168562,-0.180578
1975433633,4,0.577907,0.577628,0.582295,0.572930,0.578345,0.581873,0.592467,0.498170,0.597383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
columns = landmarks_one.columns
columns[:40]

Index(['frame', 'x_face_0', 'x_face_1', 'x_face_2', 'x_face_3', 'x_face_4',
       'x_face_5', 'x_face_6', 'x_face_7', 'x_face_8', 'x_face_9', 'x_face_10',
       'x_face_11', 'x_face_12', 'x_face_13', 'x_face_14', 'x_face_15',
       'x_face_16', 'x_face_17', 'x_face_18', 'x_face_19', 'x_face_20',
       'x_face_21', 'x_face_22', 'x_face_23', 'x_face_24', 'x_face_25',
       'x_face_26', 'x_face_27', 'x_face_28', 'x_face_29', 'x_face_30',
       'x_face_31', 'x_face_32', 'x_face_33', 'x_face_34', 'x_face_35',
       'x_face_36', 'x_face_37', 'x_face_38'],
      dtype='object')

In [8]:
columns[40:80]

Index(['x_face_39', 'x_face_40', 'x_face_41', 'x_face_42', 'x_face_43',
       'x_face_44', 'x_face_45', 'x_face_46', 'x_face_47', 'x_face_48',
       'x_face_49', 'x_face_50', 'x_face_51', 'x_face_52', 'x_face_53',
       'x_face_54', 'x_face_55', 'x_face_56', 'x_face_57', 'x_face_58',
       'x_face_59', 'x_face_60', 'x_face_61', 'x_face_62', 'x_face_63',
       'x_face_64', 'x_face_65', 'x_face_66', 'x_face_67', 'x_face_68',
       'x_face_69', 'x_face_70', 'x_face_71', 'x_face_72', 'x_face_73',
       'x_face_74', 'x_face_75', 'x_face_76', 'x_face_77', 'x_face_78'],
      dtype='object')